@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,600;0,800;1,200&display=swap");
body {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
/* Helper Classes */
.container {
  padding: 2rem 10rem;
  margin: 0 auto;
}
.mt-10 {
  margin-top: 80px;
}
.flex {
  display: flex;
}
.mb-5 {
  margin-bottom: 50px;
}

/* CSS for Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 10rem;
  margin-bottom: 30px;
}
.right ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.right ul li {
  display: inline-block;
  margin-right: 25px;
  font-weight: 600;
}

.left ul {
  list-style: none;
}
.left ul li {
  display: inline-block;
  margin-right: 25px;
  font-weight: 600;
}

.logo {
  background-color: #1ea59a;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 45px;
}

/* CSS for Header */

.header-h1 {
  font-size: 3.4375rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 130px;
  width: 482.51px;
  background-color: #fff;
  box-shadow: 0px 20px 30px rgba(64, 72, 82, 0.1);
  border-radius: 10px;
}

.select-container p {
  font-size: 13px;
}
.select-container select {
  width: 100%;
  border: none;
  font-size: 30px;
  font-weight: 600;
}
.submit-button {
  background-color: rgba(254, 117, 62, 1);
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
}

/* CSS FOR DESCRIPTION */
.description {
}

.desc-wrapper {
  display: flex;
  justify-content: space-between;
}

.desc-heading {
  width: 300px;
}
.desc-heading h3 {
  font-weight: 700;
  font-size: 30px;
}

.desc-content {
  width: 500px;
}
.desc-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

.desc-content p a {
  text-decoration: none;
  color: rgba(30, 165, 154, 1);
}

/* card section */

.card-section {
  display: flex;
  justify-content: space-around;
}

.card {
  height: 470px;
  width: 320px;
  background: lightblue;
  margin-right: 7px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.girl {
  background: url("../../assets/images/girl.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.office {
  background: url("../../assets/images/office.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.phone {
  background: url("../../assets/images/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.laptop {
  background: url("../../assets/images/laptop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-card {
  position: absolute;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  bottom: -5px;
  left: -5px;
}

.inner-card h5 {
  color: rgba(30, 165, 154, 1);
  font-size: 13px;
  font-weight: 700;
}

.inner-card p {
  font-size: 13px;
}

/* Info Section Css */

.info {
  display: flex;
  justify-content: space-between;
  height: 800px;
  margin-top: 40px;
}
.info-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-right {
  width: 50%;
  background-color: rgba(246, 250, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info h3 {
  font-size: 30px;
  font-weight: 600;
}
.info-desc {
  font-size: 15px;
  width: 320px;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.numbers {
  font-size: 80px;
  font-weight: 800;
  color: #1ea59a;
}
.supported-text {
  font-size: 12px;
}

.info-left-details h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
.info-left-details p {
  width: 320px;
  font-size: 15px;
  line-height: 25px;
}
.icon {
  height: 50px;
  width: 50px;
  background-color: rgba(30, 165, 154, 0.2);
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 10%; */
}
